#navbar-font{
    font-family: 'Sanchez', serif;
    font-size: 15;
}
.image{
    height:90%;
    background-position: no-repeat;
    background-size: cover;
    position: relative;
}
.text{
    justify-content: center;
    top: 70%;
    text-align: center;
    position: relative;
    color: black;
    font-family: 'Sanchez', serif;
}
#paragraph-post{
    text-align: center;
    font-family: 'Sanchez', serif;
    color: black;
    margin: 5px;
}
.post{
    width: 100%;
    height: 120%;
    padding-right: 100px;
    padding-left: 100px;
    border-color: white;
    text-align:center;
    font-family: 'Sanchez', serif; 
    color: black;
}